html, body {
  font-family: 'Lato', sans-serif;
  background-color: #F9FBFC;
}
body {
  padding-top: 86px;
}

.text-title {
  font-family: 'Advent Pro', sans-serif;
  font-weight: medium;
  font-size: 16pt;
}
h1 {
  font-size: 22pt;
  color: #A32757;
  line-height: inherit;
}
p {
  font-size: 12pt;
}

input.typeahead {
  font-weight: bold;
}
.footer {
  height: 100px;
}
body.results, html.results {
  height: 100%;
  overflow:hidden;
}
#iFrame {
  width: 100%;
  height: 100%;
}
#menuGeral a {
  color: inherit;
}
#footer img {
  height: 100px;
}
#infosWrapper {
  margin-top: 50px;
}
#infos.nav-tabs .nav-link {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 15pt;
  color: #ccc;
}
#infos.nav-tabs .nav-link.active {
  color: #A32757;
  border-bottom: 2px solid #A32757;
}
#infos.nav-tabs .nav-link:hover {
  color: #A32757;
}
#infos .nav-link {
  padding: .5rem 3rem 0 3rem;
}

@media only screen and (max-width: 768px) {
  #navbarSupportedContent {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  #navbarSupportedContent a, #navbarSupportedContent form {
    margin: 8px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .text-title {
    font-size: 13pt;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
